{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>
    <a href="{{ path('back_app_category_new') }}">Create new</a>

    <br><br>

    {% for category in categories %}
        {% embed 'composants/_card.html.twig' %}
            {% block title %}{{ category.name }}{% endblock %}
            {% block body %}
                <a href="{{ path('back_app_category_show', {'id': category.id}) }}">show</a>
                <a href="{{ path('back_app_category_edit', {'id': category.id}) }}">edit</a>
            {% endblock %}
        {% endembed %}
    {% else %}
        {% embed 'composants/_card.html.twig' %}
            {% block title %}Aucune catégorie{% endblock %}
            {% block body %}
                <a href="{{ path('back_app_category_new') }}">Create new</a>
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}
